# Load Excel Files As Pandas DataFrames
One of the ways that you’ll often use to import your files when you’re working with them for data science is with the help of the Pandas package. As we saw previously, the Pandas library is built on NumPy and provides easy-to-use data structures and data analysis tools for the Python programming language.

This powerful and flexible library is very frequently used by (aspiring) data scientists to get their data into data structures that are highly expressive for their analyses.

If you already have Pandas available through Anaconda, you can just load your files in Pandas DataFrames with pd.Excelfile():

In [11]:
# Import pandas
import pandas as pd

# Load spreadsheet
xl = pd.ExcelFile('IMDB-Movie-Data.xlsx')
# Print the sheet names
print(xl.sheet_names)

['MainData', 'IMDB-Movie-Data']

In [12]:
# Load a sheet into a DataFrame by name: df1
df1 = xl.parse('IMDB-Movie-Data')

df1.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

## Read Excel column names (2nd option)
We import the pandas module, including ExcelFile. The method read_excel() reads the data into a Pandas Data Frame, where the first parameter is the filename and the second parameter is the sheet.

The list of columns will be called df.columns.

In [14]:

from pandas import ExcelWriter
from pandas import ExcelFile
 
df = pd.read_excel('IMDB-Movie-Data.xlsx', sheet_name='IMDB-Movie-Data')
 
print("Column headings:")
print(df.columns)

Column headings:
Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

Using the data frame, we can get all the rows below an entire column as a list. To get such a list, simply use the column header

In [18]:
print(df['Title'])

0                      Guardians of the Galaxy
1                                   Prometheus
2                                        Split
3                                         Sing
4                                Suicide Squad
5                               The Great Wall
6                                   La La Land
7                                     Mindhorn
8                           The Lost City of Z
9                                   Passengers
10     Fantastic Beasts and Where to Find Them
11                              Hidden Figures
12                                   Rogue One
13                                       Moana
14                                    Colossal
15                     The Secret Life of Pets
16                               Hacksaw Ridge
17                                Jason Bourne
18                                        Lion
19                                     Arrival
20                                        Gold
21                       Manchester by the Sea
22                              Hounds of Love
23                                      Trolls
24                Independence Day: Resurgence
25                             Paris pieds nus
26                     Bahubali: The Beginning
27                                  Dead Awake
28                                    Bad Moms
29                            Assassin's Creed
                        ...
970                          Texas Chainsaw 3D
971                                  Disturbia
972                               Rock of Ages
973                                   Scream 4
974                             Queen of Katwe
975                 My Big Fat Greek Wedding 2
976                                Dark Places
977                              Amateur Night
978             It's Only the End of the World
979                         The Skin I Live In
980                       Miracles from Heaven
981                                      Annie
982                        Across the Universe
983                              Let's Be Cops
984                                        Max
985                              Your Highness
986                        Final Destination 5
987                               Endless Love
988                                    Martyrs
989                                      Selma
990             Underworld: Rise of the Lycans
991                           Taare Zameen Par
992                       Take Me Home Tonight
993                   Resident Evil: Afterlife
994                                  Project X
995                       Secret in Their Eyes
996                            Hostel: Part II
997                     Step Up 2: The Streets
998                               Search Party
999                                 Nine Lives
Name: Title, Length: 1000, dtype: object

## How To Write Pandas DataFrames to Excel Files
Let’s say that after your analysis of the data, you want to write the data back to a new file. There’s also a way to write your Pandas DataFrames back to files with the to_excel() function.

But, before you use this function, make sure that you have the XlsxWriter installed if you want to write your data to multiple worksheets in an .xlsx file:
```
# Install `XlsxWriter` 
pip install XlsxWriter
```

In [19]:
# Specify a writer
writer = pd.ExcelWriter('example.xlsx', engine='xlsxwriter')

# Write your DataFrame to a file     
df1.to_excel(writer, 'Sheet1')

# Save the result 
writer.save()

Note that in the code chunk above, you use an ExcelWriter object to output the DataFrame.

Stated differently, you pass the writer variable to the to_excel() function and you also specify the sheet name. This way, you add a sheet with the data to an existing workbook: you can use the ExcelWriter to save multiple, (slightly) different DataFrames to one workbook.

This all means that if you just want to save one DataFrame to a file, you can also go without installing the XlsxWriter package. Then, you just don’t specify the engine argument that you would pass to the pd.ExcelWriter() function. The rest of the steps stay the same.

Similarly to the functions that you used to read in .csv files, you also have a function to_csv() to write the results back to a comma separated file. It again works much in the same way as when you used it to read in the file:

In [20]:
# Write the DataFrame to csv
df1.to_csv("example.csv")

If you want to have a tab separated file, you can also pass a \t to the sep argument to make this clear. Note that there are various other functions that you can use to output your files. You can find all of them [here](http://pandas.pydata.org/pandas-docs/stable/api.html#id12).

## Packages To Parse Excel Files And Write Them Back With Python
Besides the Pandas package, which you will probably use very often to load in your data, you can also use other packages to get your data in Python. Our overview of the available packages is based on [this page](http://www.python-excel.org/), which includes a list of packages that you can use to work with Excel files in Python.

In what follows, you’ll see how to use these packages with the help of some real-life but simplified examples.